/* @media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 250px;
    }
  }
 .Login{
   padding-right: 72%;
   padding-top: 10%
 }
 .background-login{
   /* background-color: blueviolet; 
   height: 550px;
   background-image: url('../Pictures/רקע.jpg');
   background-size: cover;
 } */
 
 @media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 250px;
  }
}
.Login {
  padding-right: 72%;
  padding-top: 10%;
}
.background-login {
  /* background-color: blueviolet; */
  height: 550px;
  background: url("../Pictures/רקע.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 120vh;
  height: 120vh;
}

.form {
  margin-top: 45% !important;
}
.name-and-password {
  font-weight: bold;
}

.name-and-password-input {
  width: 80% !important;
  margin-right: 25px;
  border-radius: 15px !important;
  border-color: black !important;
  background-color: #83b842 !important;
}

.enter {
  width: 50% !important;
  margin-right: 25%;
  border-radius: 15px !important;
  background-color: #e48324 !important;
  border: none !important;
}

.error {
  text-align: right !important;
  margin-right: 35px;
  margin-top: 0px !important;
}

.create {
  border: none !important;
  background-color: transparent !important;
  color: black !important;
  font-size: 13px !important;
  font-weight: bold !important;
  text-align: right !important;
  width: 100% !important;
}

.buttons {
  float: right;
}

.forgot {
  margin-right: 16%;
}
